*{
    margin: 0; padding: 0; box-sizing: border-box; 
}
body{
    background-image: url("i/camp.png");
    background-size: 100%; background-repeat: no-repeat;
}


.body {    
    background-image: url("i/c2.png");  
    background-color: rgb(227, 206, 173);  
    } 
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}


.background{
    background: rgba(118, 47, 47, 0.813);
    background-blend-mode: darken;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
h1{
    font: 20px; text-align: center;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-main{
    margin-left: auto; margin-right: auto;
}



.nav-list li{
   list-style: none;
   padding: 30px 40px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color:grey;
}

.rightnav{
    width: 30%;
    text-align:right;
}


#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey ;
    border-radius: 9px;
}

.firstsection{
   
    height: 300px; background-color: rgba(240, 248, 255, 0.669); 
    width: 990px;
    margin-left: auto; margin-right: auto;
}
.secondsection{
    background-color: rgba(91, 14, 29, 0.669); width: 990px;
    height:200px;  margin-left: auto; margin-right: auto; color: aliceblue;
}
.paras{
    background-color: rgba(62, 27, 27, 0.669); width: 990px;
    height:200px; margin-left: auto; margin-right: auto; color: azure; 
}
.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 40px;
    background-color: #28292cc5;
} 
img.icon-style{
    height: 20px; width: 20px;
}


